

<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% if logged_in? %>
<%= link_to "Delete",tag_path(@tag), method: :delete, data: {confirm: "Do you
		really want to delete this tag?"} %>
<% end %>
<br />

<%= link_to "<< Back to Articles list", articles_path %>